div {
    /* propriedades decorativas */
    margin: 5px 8px;
    padding: 6px 9px;
    border: dotted 3px black;
    display: inline-block;
    font-size: 50px;
    font-family: Arial;
    /* propriedades que fazem o "problema" */
    width: 100px;
    height: 110px;
    overflow: scroll;
  }